body {
	background-color: #B8D8BA;
}

#page {
	background-color: #B8D8BA;
}

#skip-link {

	width:960px;
	margin-right:auto;
	margin-left:auto;
	background-color: #c6c6c6 ;
}

#header {
	width:960px;
	background-color:#D9DBBC;
	margin-right: auto;
	margin-left: auto;
	margin-top:10px;
	height:60px;
	padding-top:20px;
	border-top:6px solid #FAE2E4;
	border-bottom:6px solid #FAE2E4;
}

#logo 
{
	float:left; 
	margin-left:20px;

}

a#logo {
	text-decoration:none;
}

#name-and-slogan {
	float:left;
	margin-left: 100px;
}

#site-name a {
	text-decoration: none;
}

#navigation {
	width: 960px;
	margin-right:auto;
	margin-left:auto;
	background-color:#B8D8BA ;
}

#navigation  h2 {
	display:none;
}

ul #main-menu {
	text-decoration: none;
	padding-top: 5px;
}

ul #main-menu li a {
	text-decoration: none;
	padding-right: 10px;
}

ul #secondary-menu {
	background-color: #333;
	height: 25px;
}

ul #secondary-menu li a {
	text-decoration: none;
	color: #fff;
	padding-right: 10px;
	height: 25px;
	border-right: 1px solid #fff;
}

#main-wrapper {
	background-color: #fcddbc;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

#main {
	width: 960px;
	margin: 5px auto;
}

#content {

	width:775px;
	float:right;
	padding-left:15px;
	background-color:#fcddbc;
}

#sidebar-first {

	float:left;
	width:130px;
	margin:0;
	padding:20px;
	background-color:#fcddbc;
}



